* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 4000px;
  background-color: #343333;
}

header #navbars {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 5;
}
header #navbars .navbar {
  width: 100%;
  height: 120px;
}
header #navbars .navbar ul {
  gap: 14%;
}
header #navbars .navbar ul li {
  list-style: none;
  float: left;
}
header #navbars .navbar ul li a {
  text-decoration: none;
  color: black;
}
header #navbars .navbar ul li a span {
  color: #ca8f65;
}
header #navbars .navbar ul li a:hover span {
  color: white;
}
header #navbars .header-logo {
  width: 100%;
  height: 100%;
  text-align: center;
}
header #navbars .header-search {
  width: 100%;
  height: 100%;
}
header #navbars .header-search input {
  width: 86%;
  height: 28%;
  border: none;
}
header #navbars .header-search a i {
  font-size: 138%;
  color: #ca8f65;
  position: relative;
  float: right;
  top: 44%;
}
header #navbars .header-icons {
  width: 100%;
  height: 100%;
  text-align: center;
}
header #navbars .header-icons .header-login-register {
  width: 12%;
  height: 55%;
  background-color: rgb(243, 243, 243);
  position: absolute;
}
header #navbars .header-icons .header-login-register .header-login {
  text-align: left;
  width: 100%;
  height: 50%;
}
header #navbars .header-icons .header-login-register .header-login:hover {
  background-color: white;
}
header #navbars .header-icons .header-login-register .header-login a {
  text-decoration: none;
  color: rgb(26, 26, 26);
  margin-left: 2%;
}
header #navbars .header-icons .header-login-register .header-register {
  text-align: left;
  width: 100%;
  height: 50%;
}
header #navbars .header-icons .header-login-register .header-register:hover {
  background-color: white;
}
header #navbars .header-icons .header-login-register .header-register a {
  text-decoration: none;
  color: rgb(26, 26, 26);
  margin-left: 2%;
}
header #navbars .header-icons a {
  text-decoration: none;
}
header #navbars .header-icons a i {
  font-size: 138%;
  color: #ca8f65;
  padding-top: 22%;
  margin: 4%;
}
header #navbars .header-icons a span {
  position: relative;
  right: 7%;
  bottom: 18px;
  display: inline-block;
  width: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 11px;
  background-color: #ca8f65;
  color: white;
  border-radius: 100%;
}
header #navbars .header-icons a span:last-child {
  background-color: beige;
  font-size: 110%;
  width: 0;
  height: 0;
  margin-right: 10%;
  bottom: 0px;
  color: #ca8f65;
}

main #main-up {
  background-color: #2a2a2a;
}
main #main-up .main-up-contact-name {
  width: 100%;
  height: 65px;
  text-align: center;
  margin-top: 15%;
}
main #main-up .main-up-contact-name h1 {
  color: #ca8f65;
}
main #main-up .main-up-contact-signature {
  width: 100%;
  height: 65px;
  text-align: center;
}
main #main-up .main-up-contact-descriptions {
  width: 100%;
  height: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #main-up .main-up-contact-descriptions .main-up-contact-description {
  width: 50%;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #main-up .main-up-contact-descriptions .main-up-contact-description p {
  color: white;
}
main #background-img {
  width: 100%;
  height: 100%;
}
main #background-img img {
  width: 100%;
  position: absolute;
}
main #main-middle-up .main-middle-back-img {
  width: 100%;
}
main #main-middle-up .main-middle-back-img img {
  width: 100%;
}
main #main-middle-up .main-middle-logo-signature {
  position: absolute;
  top: 115%;
}
main #main-middle-up .main-middle-logo-signature .main-middle-logo {
  width: 100%;
  height: auto;
  text-align: center;
}
main #main-middle-up .main-middle-logo-signature .main-middle-logo img {
  width: 60%;
}
main #main-middle-up .main-middle-logo-signature .main-middle-title-signatue {
  width: 100%;
  height: auto;
}
main #main-middle-up .main-middle-logo-signature .main-middle-title-signatue img {
  width: 100%;
}
main #main-middle-up .main-middle-logo-signature .main-middle-title-signature {
  width: 100%;
  height: auto;
}
main #main-middle-up .main-middle-logo-signature .main-middle-title-signature .main-middle-title {
  width: 100%;
  height: auto;
}
main #main-middle-up .main-middle-logo-signature .main-middle-title-signature .main-middle-title h1 {
  color: #ca8f65;
  width: 80%;
}
main #main-middle-up .main-middle-logo-signature .main-middle-title-signature .main-middle-title img {
  padding-left: 21%;
}
main #main-middle-about-us .middle-about-us-img {
  width: 100%;
  height: auto;
}
main #main-middle-about-us .middle-about-us-img img {
  width: 100%;
}
main #main-middle-about-us .middle-about-us {
  width: 100%;
  height: auto;
  text-align: center;
}
main #main-middle-about-us .middle-about-us h1 {
  color: #ca8f65;
}
main #main-middle-about-us .middle-about-img {
  width: 100%;
  height: auto;
  text-align: center;
}
main #main-middle-about-us .middle-about-description {
  width: 100%;
  height: auto;
  text-align: center;
}
main #main-middle-about-us .middle-about-description p {
  color: #8e8e8e;
  width: 100%;
}
main #main-middle-about-us .middle-about-signature {
  text-align: center;
}
main #main-down-up .scelerisque-title {
  width: 100%;
  height: auto;
  text-align: center;
}
main #main-down-up .scelerisque-title h1 {
  color: #ca8f65;
}
main #main-down-up .scelerisque-logo {
  width: 100%;
  height: auto;
  text-align: center;
}
main #main-down-up .main-down-time-bewhiskey {
  width: 100%;
  height: auto;
}
main #main-down-up .main-down-time-bewhiskey:hover .main-down-bewhiskey {
  border-left: 2px solid #ca8f65;
}
main #main-down-up .main-down-time-bewhiskey .main-down-time {
  width: 97%;
  height: auto;
  text-align: right;
}
main #main-down-up .main-down-time-bewhiskey .main-down-time span {
  color: aliceblue;
}
main #main-down-up .main-down-time-bewhiskey .main-down-bewhiskey {
  width: 100%;
  height: auto;
  border-left: 2px solid rgb(45, 45, 45);
}
main #main-down-up .main-down-time-bewhiskey .main-down-bewhiskey .down-bewhiskey-title {
  width: 70%;
  height: auto;
}
main #main-down-up .main-down-time-bewhiskey .main-down-bewhiskey .down-bewhiskey-title h2 {
  color: #ca8f65;
}
main #main-down-up .main-down-time-bewhiskey .main-down-bewhiskey .down-bewhiskey-desc {
  width: 72%;
  height: auto;
}
main #main-down-up .main-down-time-bewhiskey .main-down-bewhiskey .down-bewhiskey-desc span {
  color: #8e8e8e;
}
main #main-down-up .main-down-time-bottle-sold {
  width: 100%;
  height: auto;
}
main #main-down-up .main-down-time-bottle-sold:hover .main-down-bottle-sold {
  border-right: 2px solid #ca8f65;
}
main #main-down-up .main-down-time-bottle-sold .main-down-bottle-sold {
  width: 100%;
  height: auto;
  border-right: 2px solid rgb(45, 45, 45);
}
main #main-down-up .main-down-time-bottle-sold .main-down-bottle-sold .down-bottle-sold-title {
  width: 97%;
  height: auto;
  text-align: end;
}
main #main-down-up .main-down-time-bottle-sold .main-down-bottle-sold .down-bottle-sold-title h2 {
  color: #ca8f65;
}
main #main-down-up .main-down-time-bottle-sold .main-down-bottle-sold .down-bottle-sold-desc {
  width: 97%;
  height: auto;
  text-align: right;
}
main #main-down-up .main-down-time-bottle-sold .main-down-bottle-sold .down-bottle-sold-desc span {
  color: #8e8e8e;
}
main #main-down-up .main-down-time-bottle-sold .down-bottle-sold-time {
  width: 90%;
  height: auto;
}
main #main-down-up .main-down-time-bottle-sold .down-bottle-sold-time span {
  color: aliceblue;
}/*# sourceMappingURL=about.css.map */