* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: auto;
    background-color: #343333;
}


@media (max-width:850px){




    #footer {
        .footers {

            .footer {
                text-align: center;
            }

        }

    }


}




header {
    #navbars {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 5;




        .navbar {
            width: 100%;
            height: 120px;



            ul {
                gap: 14%;



                li {
                    list-style: none;
                    float: left;



                    a {
                        text-decoration: none;
                        color: black;








                        span {

                            color: #ca8f65;






                        }

                        &:hover span {
                            color: white;
                        }



                    }
                }
            }

        }


        .header-logo {
            width: 100%;
            height: 100%;
            text-align: center;



        }

        .header-search {
            width: 100%;
            height: 100%;


            input {
                width: 86%;
                height: 28%;
                border: none;
            }

            a {

                i {
                    font-size: 138%;
                    color: #ca8f65;
                    position: relative;
                    float: right;
                    top: 44%;


                }
            }








        }

        .header-icons {
            width: 100%;
            height: 100%;
            text-align: center;

            .header-login-register {
                width: 12%;
                height: 55%;
                background-color: rgb(243, 243, 243);
                position: absolute;




                .header-login {
                    text-align: left;
                    width: 100%;
                    height: 50%;

                    &:hover {
                        background-color: white;
                    }

                    a {
                        text-decoration: none;
                        color: rgb(26, 26, 26);
                        margin-left: 2%;

                    }
                }


                .header-register {

                    text-align: left;
                    width: 100%;
                    height: 50%;

                    &:hover {
                        background-color: white;
                    }


                    a {
                        text-decoration: none;
                        color: rgb(26, 26, 26);
                        margin-left: 2%;

                    }

                }



            }





            a {
                text-decoration: none;


                b {
                    color: #ca8f65;
                    position: relative;
                    right: 7%;
                    bottom: 18px;
                    display: inline-block;
                    width: 18px;
                    line-height: 18px;
                    text-align: center;
                    font-size: 11px;
                    background-color: #ca8f65;
                    color: white;
                    border-radius: 100%;

                }













                i {
                    font-size: 138%;
                    color: #ca8f65;
                    padding-top: 22%;
                    margin: 4%;

                }


                span {

                    position: relative;
                    right: 7%;
                    bottom: 18px;
                    display: inline-block;
                    width: 18px;
                    line-height: 18px;
                    text-align: center;
                    font-size: 11px;
                    background-color: #ca8f65;
                    color: white;
                    border-radius: 100%;

                    &:last-child {
                        background-color: beige;
                        font-size: 110%;
                        width: 0;
                        height: 0;
                        margin-right: 10%;
                        bottom: 0px;
                        color: #ca8f65;


                    }



                }







            }










        }



    }

    #tablet-navbars {


        .tablet-navbar {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 5;

            .tablet-navbar-menu-icon {
                width: 100%;
                height: auto;

                i {
                    font-size: 50px;
                    color: #ca8f65;
                }





            }



            .tablet-navbar-menu {
                width: 67%;
                height: 74%;
                background-color: #2a2a2a;
                border-radius: 2%;

                hr {
                    color: #f1e9e4;
                    margin-left: -31px;
                }

                ul {
                    list-style: none;

                    li {
                        padding-top: 10px;




                        a {
                            text-decoration: none;
                            color: #ca8f65;

                            span {
                                font-family: cursive;

                            }





                        }


                    }
                }
            }

            .header-login-register {
                width: 24%;
                height: 55%;
                background-color: rgb(243, 243, 243);
                position: absolute;




                .header-login {
                    text-align: left;
                    width: 100%;
                    height: 50%;

                    &:hover {
                        background-color: white;
                    }

                    a {
                        text-decoration: none;
                        color: rgb(26, 26, 26);
                        margin-left: 2%;

                    }
                }


                .header-register {

                    text-align: left;
                    width: 100%;
                    height: 50%;

                    &:hover {
                        background-color: white;
                    }


                    a {
                        text-decoration: none;
                        color: rgb(26, 26, 26);
                        margin-left: 2%;

                    }

                }



            }




            .tablet-navbar-logo {
                width: 100%;
                height: auto;


            }



            .tablet-navbar-icons {
                width: 100%;
                height: auto;



                a {

                    text-decoration: none;
                    color: #ca8f65;

                    &:nth-child(3) {
                        span {

                            position: relative;
                            bottom: 12px;
                            right: 2%;
                            font-size: 25px;

                        }
                    }


                    &:nth-child(4) {

                        span {

                            &:nth-child(2) {
                                position: relative;
                                bottom: 12px;
                                right: 2%;
                                font-size: 25px;




                            }


                        }


                    }

                    i {
                        width: 10%;
                        font-size: 25px;




                    }

                }
            }




        }

        .tablet-navbar-search {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 5;
            top: 7%;

            input {
                margin-left: 66%;
            }



        }


    }

    #phone-navbars {

        .phone-navbars {
            width: 100%;
            height: auto;
            background-color: #343333;
            z-index: 20;



            .phone-navbar-logo {
                width: 100%;
                height: auto;
                text-align: end;
            }

            .phone-navbar-basket {
                width: 100%;
                height: auto;
                text-align: end;

                a {
                    text-decoration: none;
                    color: #ca8f65;

                    span {



                        &:nth-child(2) {

                            position: relative;
                            bottom: 10px;




                        }

                    }













                }

            }


            .phone-navbar-icons {
                width: 100%;
                height: auto;
                text-align: end;

                i {
                    color: #ca8f65;
                    font-size: 26px;
                }
            }

            .phone-navbar-menu-icons {
                width: 100%;
                height: auto;
                background-color: #2a2a2a;
                position: absolute;
                border-radius: 2%;

                .phone-navbar-menu-icon-search {
                    width: 100%;
                    height: auto;
                    text-align: center;



                    i {
                        color: #ca8f65;
                        font-size: 20px;




                    }

                }


                .phone-navbar-menu-login-register {
                    width: 100%;
                    height: auto;

                    text-align: center;

                    hr {
                        color: #ca8f65;
                    }



                    a {

                        text-decoration: none;

                        &:nth-child(2) {

                            span {

                                position: relative;
                                bottom: 10px;
                            }

                        }


                        &:nth-child(3) {


                            span {

                                &:nth-child(2) {
                                    position: relative;
                                    bottom: 10px;

                                }


                            }

                        }

                        i {
                            color: #ca8f65;
                        }

                        span {
                            color: #ca8f65;


                        }


                    }
                }

                .phone-login-register {
                    width: 83%;
                    height: auto;
                    background-color: whitesmoke;

                    a {
                        text-decoration: none;
                        color: #ca8f65;

                    }


                }

                .phone-navbar-menu {
                    width: 100%;
                    height: auto;

                    ul {
                        list-style: none;
                        margin-top: 12px;

                        a {
                            text-decoration: none;
                            color: #ca8f65;

                            span {
                                font-family: cursive;
                            }

                        }

                        hr {
                            color: #ca8f65;
                            margin-left: -31px;
                        }


                    }

                }


            }


        }
    }


}

main {

    #main-up {
        background-color: #2a2a2a;

        .main-up-contact-name {
            width: 100%;
            height: 65px;
            text-align: center;
            margin-top: 15%;

            h1 {
                color: #ca8f65;

            }

        }

   
        .main-up-contact-titles {
            width: 100%;
            height: 120px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;


            .main-up-contact-title {
                width: 50%;
                height: auto;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2%;

                a{
                    text-decoration: none;

                    span {
                        color: #ca8f65;

                        &:hover{
                            color: white;
                        }
                        
                    }

                }

                hr{
                    color: #ca8f65;
                }

                span {
                    color: #7a716a;
                    
                }



               

            }

        }






    }
    #main {

        html {
            scroll-behavior: smooth;
        }


        a {
            text-decoration: none;
            color: var(--color);
        }

        h1 {
            font-size: 2.5rem;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-container {
            position: relative;
            width: 22.2rem;
        }

        .form-container {
            border: 1px solid hsla(0, 33%, 96%, 0.158);
            box-shadow: 0 0 36px 1px rgba(30, 29, 29, 0.2);
            border-radius: 10px;
            backdrop-filter: blur(20px);
            z-index: 99;
            padding: 2rem;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

       
        }

        .login-container form input {
            display: block;
            padding: 14.5px;
            width: 100%;
            margin: 2rem 0;
            color: whitesmoke;
            outline: none;
            background-color: #9191911f;
            border: none;
            border-radius: 5px;
            font-weight: 500;
            letter-spacing: 0.8px;
            font-size: 15px;
            backdrop-filter: blur(15px);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        .login-container form input:focus {
            box-shadow: 0 0 16px 1px rgba(214, 147, 147, 0.2);
            animation: wobble 0.3s ease-in;
            -webkit-animation: wobble 0.3s ease-in;
        }

        .login-container form button {
            box-shadow: 0 0 5px 1px rgba(179, 173, 173, 0.2);
           
            background-color: var(--primary-color);
            color: #ca8f65;
            display: block;
            padding: 13px;
            border-radius: 5px;
            outline: none;
            font-size: 18px;
            letter-spacing: 1.5px;
            font-weight: bold;
            width: 100%;
            cursor: pointer;
            margin-bottom: 2rem;
            transition: all 0.1s ease-in-out;
            border: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
        }

        .login-container form button:hover {
            box-shadow: 0 0 10px 1px rgba(249, 249, 249, 0.15);
            transform: scale(1.02);
            -webkit-transform: scale(1.02);
            -moz-transform: scale(1.02);
            -ms-transform: scale(1.02);
            -o-transform: scale(1.02);
        }

        .circle {
            width: 8rem;
            height: 8rem;
            background: var(--primary-color);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            position: absolute;
        }

        .illustration {
            position: absolute;
            top: -14%;
            right: -2px;
            width: 90%;
        }

        .circle-one {
            top: 0;
            left: 0;
            z-index: -1;
            transform: translate(-45%, -45%);
            -webkit-transform: translate(-45%, -45%);
            -moz-transform: translate(-45%, -45%);
            -ms-transform: translate(-45%, -45%);
            -o-transform: translate(-45%, -45%);
        }

        .circle-two {
            bottom: 0;
            right: 0;
            z-index: -1;
            transform: translate(45%, 45%);
            -webkit-transform: translate(45%, 45%);
            -moz-transform: translate(45%, 45%);
            -ms-transform: translate(45%, 45%);
            -o-transform: translate(45%, 45%);
        }

        .register-forget {
            margin: 1rem 0;
            display: flex;
            justify-content: space-between;
            a{
                color: #f1e9e4;
                &:hover{
                   color: #ca8f65;

                }

            }
        }

        .opacity {
            opacity: 0.6;
            color: #ca8f65;
        }

        .theme-btn-container {
            position: absolute;
            left: 0;
            bottom: 2rem;
        }

        .theme-btn {
            cursor: pointer;
            transition: all 0.3s ease-in;
        }

        .theme-btn:hover {
            width: 40px !important;
        }

        @keyframes wobble {
            0% {
                transform: scale(1.025);
                -webkit-transform: scale(1.025);
                -moz-transform: scale(1.025);
                -ms-transform: scale(1.025);
                -o-transform: scale(1.025);
            }

            25% {
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
            }

            75% {
                transform: scale(1.025);
                -webkit-transform: scale(1.025);
                -moz-transform: scale(1.025);
                -ms-transform: scale(1.025);
                -o-transform: scale(1.025);
            }

            100% {
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
            }
        }




    }
}


footer {
    #footer {
        .footers {

            width: 100%;
            height: auto;
            background-color: #2a2a2a;

            .footer-logo {
                width: 100%;
                height: 100px;
                text-align: center;


                img {
                    width: 100%;
                    height: 100%;
                }


            }

            .footer {
                .footer-title {
                    width: 100%;
                    height: 40px;


                    h5 {
                        color: #ca8f65;
                        margin-left: 9%;
                    }

                }

                .footer-description {
                    width: 100%;



                    ul {




                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                color: #666666;

                                &:hover {
                                    color: #ca8f65;
                                }

                            }
                        }


                    }



                }


                hr {
                    color: #ebebeb;
                }



            }













        }

    }

    #footer-lines {
        width: 100%;
        height: 60px;

        .footer-line {
            width: 100%;
            height: 1px;
            background-color: rgb(104, 104, 104);


            .footer-title {
                span {
                    color: #8e8e8e;
                }
            }

            .footer-titles {
                text-align: end;

                span {
                    color: #8e8e8e;
                }
            }
        }
    }



}